@charset "utf-8";
/* CSS Document */

/*-----------------------------INDEX---------------------------------*/
* {
    color: black !important;
    font-size: 17px;
}

.other-bckg-color {
    background-color:#60BA99;
}

body{
	font-family: 'Dosis', sans-serif;
    
}

.bold-text {
    font-weight: bold;
}

#header
{
	height:8em;
	background-color:#ffffff;
	right:0px;
	left:0px;
}

#navbar-contents {
    padding: 0.5em 4em;
    height: inherit;
}

#logo-div {
    position: relative;
    display: inline-block;
}

ul {	
	list-style-type:none;
	width:auto;
}

nav ul a {
    font-size: 1.2rem;
}

#ul-elements {
    bottom: 0px;
    position: absolute;
    right: 0;
}

nav ul li
{
	float:left;
	width:auto;
	padding:2px;
}

.secciones
{	
	z-index:2;
}

.padding-for-navbar {
    padding-top: 10rem;
}

#sec-descripcion{
    text-align: center;
    vertical-align: middle;
    height: 43rem;
    padding-top: 3rem;    
}

#sec-servicios
{
	width:auto;
    height: 39.5rem;
	background-color:#ffffff;
}

#sec-faq
{
	width:auto;
    height: 37rem;
}

#sec-contacto
{
	width:auto;
	background-color:#ffffff;
    height: 47em;
}

#sec-where {
    width:auto;
    padding-top: 4rem;
}

#div-descripcion-gral
{
    margin: 1rem auto 2rem auto;
    width: 80%;
    font-size: 2rem !important;
    font-family: "Lora", serif;
    font-style: italic;
}

#divSecQuienes
{
	margin:0px 100px;
    width:auto; 
    height: auto;
}

#fotoAmbas{
    text-align: center;
    margin-top: 1rem;
}

#imgFotoAmbas{ 
    vertical-align: middle; 
    border-radius: 20px;
}

#english-page-link {
    position: absolute;
    right: 0px;
    padding: 0em 1em;
}

#spanish-page-link { 
    position: absolute;
    right: 0px;
    padding: 0em 1em;
}


.linkedinImg {
	float:right;
	margin-bottom:3px;
	position:inherit;
}


#artDescripGral
{
	width: 1037px;
	margin:1em 2em;
	background-color:#FFF;
	border-radius:5px;
}

h2
{
	text-align:center;
	padding:3px;
	color:#60002C;
}

h3{
	color:#ffffff;
}

.carouselSize
{
	margin:0px 50px;
}

.carousel-cards-body {
    padding: 0.5em;
}

/*---------------------------- SERCVICES ---------------------------------*/

.service-box-content {
    font-size: 0.90rem;
}

.service-box-title {
    font-size: 2rem;
    display: inline-block;
}

/*---------------------------- BIOS ---------------------------------*/

.bio-title {
    padding-left: 20px;
}

.bios {
	padding:1em !important;
    border-radius: 20px;
    height: 22rem;
}

#xime-bio {
    float: right;
}

#mar-bio {
    float: left;
}

/*---------------------------- FAQ ---------------------------------*/
.one-faq {
	padding: 0px 30px;    
}

.one-faq-content {
    font-size: 1.1rem;
}

.one-faq-title {
    padding: 0.5rem;
}

.request-fee-link {
    color: crimson !important;
}

.request-fee-link:hover {
    text-decoration: underline;
}

/*---------------------------- CONTACT ---------------------------------*/

#divForm
{
	margin: auto;
	width:50%;
}

form
{
	margin-left:60px;
	padding:0px 20px;
}

label{
	font-size:16px;
}

#btnsForm
{
	right:1px;
	float:right;
}

.move-text-right {
	text-align: right;
}

#mail-ws {
    display: inline-block;
}

.corrida
{
	float:right;
	text-align:right;
    margin-top: 0;
    margin-bottom: 0;
}

.linea
{
	padding-top:5px;
}

ul li a img{
	padding-top:10px;	
}

/** SECTION WHERE **/

#sec-where {
    padding-bottom: 2rem;
}

#emails {
    padding-left: 5rem;
}

/** OTHER **/

.slick-prev, .slick-next, .slick-prev:before, .slick-next:before {
    color: crimson !important;
}

nav {
   background-color: #fff; 
}

a {
    color: black !important;
}

.btn {
    background-color: #60BA99;
}

#map-mdeo {
    display: block;
    margin: 0 auto;
    border-radius: 8px;
}

footer {
    height: 6rem;
    background-color: #ffffff;
}

#links-soc {
    text-align: center;
    margin: auto;
    padding-top: 1.3rem;
}


#titulo-contact {
    margin: 0 2.5em;
}


	