@charset "utf-8";
/* CSS Document */

/*-----------------------------INDEX---------------------------------*/
* {
    color: black !important;
    font-size: 17px;
}

body{
	font-family: 'Dosis', sans-serif;
    
}

.bold-text {
    font-weight: bold;
}

#header
{
	height:8em;
	background-color:#ffffff;
	right:0px;
	left:0px;
}

#navbar-contents {
    padding: 0.5em 4em;
    height: inherit;
}

#logo-div {
    position: relative;
    display: inline-block;
}

ul {	
	list-style-type:none;
	width:auto;
}

nav ul a {
    font-size: 1.2rem;
}

#ul-elements {
    bottom: 0px;
    position: absolute;
    right: 0;
}

nav ul li
{
	float:left;
	width:auto;
	padding:2px;
}

.secciones
{	
	z-index:2;
    height: 39.5em;
    padding-top: 9em;
}

#sec-descripcion{
    background-color:#60BA99;
    text-align: center;
    vertical-align: middle;
    height: 37em;
    padding-top: 4em;
    
}

#sec-servicios
{
	width:auto;
	background-color:#ffffff;
}

#sec-faq
{
	width:auto;
	background-color:#60BA99;
}

#sec-quienes
{
	width:auto;
	background-color:#ffffff;	
}

#sec-contacto
{
	width:auto;
	background-color:#60BA99;
    height: 47em;
}

#div-descripcion-gral
{
	margin-left: auto;
    margin-right: auto;
    width: 70%;
    font-size: 40px !important;
    font-family: "Lora", serif;
    font-style: italic;
}

#divSecQuienes
{
	margin:0px 100px;
    width:auto; 
    height: auto;
}

.bios
{
	padding:1em !important;
}

#xime-bio{
    float: right;
}

#mar-bio{
    float: left;
}

#fotoAmbas{
    text-align: center;
}

#imgFotoAmbas{ 
    vertical-align: middle; 
    border-radius: 20px;
}

#english-page-link {
    position: absolute;
    right: 0px;
    padding: 0em 1em;
}

#spanish-page-link { 
    position: absolute;
    right: 0px;
    padding: 0em 1em;
}


.linkedinImg
{
	float:right;
	margin-bottom:3px;
	position:inherit;
}


#artDescripGral
{
	width: 1037px;
	margin:1em 2em;
	background-color:#FFF;
	border-radius:5px;
}

h2
{
	text-align:center;
	padding:3px;
	color:#60002C;
}

h3{
	color:#ffffff;
}

.miniCont
{
	padding: 0px 30px;
}

.carouselSize
{
	margin:0px 50px;
}

.carousel-cards-body {
    padding: 0.5em;
}

/*----------------------------CONTACTO---------------------------------*/

#divForm
{
	float:left;
	width:50%;
}

form
{
	margin-left:60px;
	padding:0px 20px;
}

label{
	font-size:16px;
}

#btnsForm
{
	right:1px;
	float:right;
}

.move-text-right {
	text-align: right;
}

#mail-ws {
    display: inline-block;
}

#links-soc {
    margin-bottom: 0.5em;
}

.corrida
{
	float:right;
	margin-right:1.5em;
	text-align:right;
    margin-top: 0;
    margin-bottom: 0;
}

.linea
{
	padding-top:5px;
}

ul li a img{
	padding-top:10px;	
}

/** **/

.slick-prev, .slick-next, .slick-prev:before, .slick-next:before {
    color: crimson !important;
}

nav {
   background-color: #fff; 
}

a {
    color: black !important;
}

#map-mdeo {
    display: block;
    margin: 0 auto;
    border-radius: 8px;
}

footer {
    height: 3em;
}

#copy {
    text-align: right;
    padding-right: 3em;
    font-size: 0.9em;
    margin-top: 3.5em;
}

#titulo-contact {
    margin: 0 2.5em;
}


	